@import url(font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Pattaya|Work+Sans:400,200,300);
@import 'https://fonts.googleapis.com/css?family=Raleway';

/* Por Defecto */
	html, body, div, span, h1, h2, h3, h4, h5, h6 {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 80%;
		font: inherit;
		vertical-align: baseline;
	}

/* Círculo Inicio */
	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	
/* Tipo de Letra */
	body{
		font-family: "Work Sans", sans-serif;
		font-size: 13pt;
		font-weight: 300;
		line-height: 1.65;
	}
	
.scrollbar{
	overflow-y: scroll ;
	position: relative;
	top: 20%;
	left: 10%;
	height: 80%;
	width: 80%;
	background: rgb(255, 255, 255, 0.5);
	margin: 1em 1em 1em 1em; 
}

.boton {
	position: relative;
	background: rgba(29, 157, 116,0.8);
	color: rgba(255,255,255,255);
	height: 5%;
	margin-top: 40%
}

/* Ocultar campos*/
   .hidden {
   display: none;
   }

/* Boton Inicio */
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		border-radius: 4px;
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-weight: 300;
		height: 2.85em;
		line-height: 2.95em;
		padding: 0 2.5em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
	}

	input[type="submit"].alt,
	input[type="reset"].alt,
	input[type="button"].alt,
	button.alt,
	.button.alt {
		background: rgba(255,255,255,0.7);
		color: rgba(63,74,44,0.9);
	}

	input[type="submit"].big,
	input[type="reset"].big,
	input[type="button"].big,
	button.big,
	.button.big {
		font-size: 1.35em;
	}

/* Iconos FontAwesome */
	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}
	.icon:before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-transform: none !important;
		font-size: 40px;
	}
	
	.icon2 {
		text-decoration: none;
		border: none;
		position: relative;
	}
	.icon2:before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-transform: none !important;
		font-size: 20px;
	}
	
	.icon > .label {
		display: none;
	}

/* Redes Sociales Lista */
	ul.icons li {
		display:inline-block;
        *display:inline; /*IE7*/
        *zoom:1; /*IE7*/
        margin-right:20px;
	}
	ul.icons li .ico {
		font-size: 2em;
	}
	
/* Header */
	#header {
		-moz-transition: background 1s ease-in-out, height 0.2s ease-in-out;
		-webkit-transition: background 1s ease-in-out, height 0.2s ease-in-out;
		-ms-transition: background 1s ease-in-out, height 0.2s ease-in-out;
		transition: background 1s ease-in-out, height 0.2s ease-in-out;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		display: -ms-flexbox;
		-ms-flex-align: center;
		-ms-flex-pack: center;
		/*background: rgba(254, 254, 254, 0.85);*/
		background-image: url('/assets/fondo.jpg');
		background-position: right;
		position: fixed;
		top: 0;
		width: 100%;
		height: 100vh;
		z-index: 10001;
	}

		#header .inner {
			-moz-transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
			-webkit-transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
			-ms-transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
			transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			-moz-justify-content: center;
			-webkit-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
			-moz-align-items: center;
			-webkit-align-items: center;
			-ms-align-items: center;
			align-items: center;
			display: -ms-flexbox;
			-ms-flex-align: center;
			-ms-flex-pack: center;
			background: rgba(63,74,44,0.6);
			border-radius: 100%;
			width: 30em;
			height: 30em;
			padding: 4em;
			text-align: center;
			box-shadow: 0 0 0 15px rgba(255,255,255,0.5); 
			cursor: default;
		}

			#header .inner .content {
				-moz-transition: opacity 1s ease-in-out;
				-webkit-transition: opacity 1s ease-in-out;
				-ms-transition: opacity 1s ease-in-out;
				transition: opacity 1s ease-in-out;
				opacity: 1;
			}

				#header .inner .content h1 {
					font-size: 50px;
					font-family: 'Pattaya', sans-serif;
					color: #fff;
				}

				#header .inner .content img {					
					margin: 0em 0em 0 0em;					
					width: 50%;
				}

				#header .inner .content h3 {
					font-size: 1.1em;
					font-family: 'Pattaya', sans-serif;
					color: #fff;	
					margin-top: -15px;	
					margin-bottom: 15px;			
				}

			#header .inner .button {
				-moz-transition: background 1s ease-in-out;
				-webkit-transition: background 1s ease-in-out;
				-ms-transition: background 1s ease-in-out;
				transition: background 1s ease-in-out;
				border-radius: 30px;
			}

				#header .inner .button.hidden {
					position: absolute;
					display: none;
					cursor: pointer;
					top: 50px;
					left: 40px;
				}

			#header .inner.hidden {
				display: none;
			}

		#header.hide, #header.preview {
			-moz-transition: background 0.2s ease-in-out, height 1s ease-in-out;
			-webkit-transition: background 0.2s ease-in-out, height 1s ease-in-out;
			-ms-transition: background 0.2s ease-in-out, height 1s ease-in-out;
			transition: background 0.2s ease-in-out, height 1s ease-in-out;
			background: none;
			height: 0;
		}

			#header.hide .inner, #header.preview .inner {
				height: 6em;
				width: 6em;
				padding: 2em;
			}

				#header.hide .inner .content, #header.preview .inner .content {
					opacity: 0;
				}

					#header.hide .inner .content h1, #header.preview .inner .content h1 {
						display: none;
					}

					#header.hide .inner .content h2, #header.preview .inner .content h2 {
						display: none;
					}

			#header.hide .button.big, #header.preview .button.big {
				display: none;
			}

			#header.hide .button.hidden, #header.preview .button.hidden {
				text-decoration: none;
				margin: 0;
				padding-bottom: 0px;
				padding-left: 0;
				padding-right: 0;
				background: none;
				display: inline-block;
			}

				#header.hide .button.hidden:before, #header.preview .button.hidden:before {
					-moz-osx-font-smoothing: grayscale;
					-webkit-font-smoothing: antialiased;
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-transform: none !important;
				}

				#header.hide .button.hidden:before, #header.preview .button.hidden:before {
					content: '\f015';
					color: #FFF;
					font-size: 1.5em;
				}

				#header.hide .button.hidden span, #header.preview .button.hidden span {
					display: none;
				}

/* Footer */
	#footer {
		-moz-transition: bottom 0.2s ease;
		-webkit-transition: bottom 0.2s ease;
		-ms-transition: bottom 0.2s ease;
		transition: bottom 0.2s ease;
		position: fixed;
		bottom: -20em;
		color: #FFF;
		left: 0;
		width: 100%;
		text-align: center;
		z-index: 10001;
		font-family: 'Raleway', sans-serif;
	}

		#footer.show {
			bottom: 0;
		}

		#footer .info {
			position: relative;
			display: inline-block;
			text-decoration: none;
			border-radius: 50% 50% 0 0;
			background: #3F4A2C;
			width: 3em;
			height: 3em;
			margin-bottom: -1.75em;
			color: #FFF;
			font-size: 1.25em;
			padding-top: .35em;
		}

			#footer .info span {
				display: none;
			}

		#footer .inner {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-justify-content: center;
			-webkit-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
			-moz-align-items: stretch;
			-webkit-align-items: stretch;
			-ms-align-items: stretch;
			align-items: stretch;
			display: -ms-flexbox;
			-ms-flex-align: center;
			-ms-flex-pack: center;
			position: relative;
			z-index: 10001;
			background: #3F4A2C;
			padding: 2em;
			height: 20em;
		}

			#footer .inner .content,
			#footer .inner .copyright {
				width: auto;
				text-align: center !important;
				color: rgba(255, 255, 255, 0.75);
				padding: 2px;
			}
			
				#footer .inner .content h3,
				#footer .inner .copyright h3 {
					color: #FFF;
					font-size: 1.75em;
				}

				#footer .inner .content a,
				#footer .inner .copyright a {
					color: #FFF;
				}
				
				#mitad{
					margin-left: 40px;
					margin-right: 40px;
					padding-left: 40px;
					padding-right: 50px;
					margin-top:30px;
				}
				
				#orgDescripcion{
					position: relative;
					font-size: 1.2rem;
					height: 5%;
				 	margin-top: 35%;
				 	margin-bottom: -2%;
				}
				
				#descripcion{
					position: relative;
					text-align: center;
					font-size: 0.8rem;
					margin-top: 0%;
					height: 35%;
				}
				

			#footer .inner .copyright ul {
				border-bottom: 1px solid rgba(255, 255, 255, 0.15);
				padding-bottom: 1em;
			}


/*Nodes CSS*/
	body, html {
		height: 100%;
	}

	#network {
		height: 100%;
		background-image:url('/assets/background.jpg');
		background-position: center;
		background-size:cover;
		
		box-shadow: inset 14px -11px 141px 192px rgba(15,14,15,0.63);
	}

	.node-info {
		position: fixed;
		top: 10%;
		left: 25%;
		z-index: 10;
		width: 50%;
		height: 80%;
	}

	.centrar{
		text-align: center;
	}

/*Efecto Inicio*/
.main-content {
	position: absolute;
	margin: 0;
	padding: 0;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

/*
 *  STYLE 7
 */

#style-7::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-7::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}




