<!DOCTYPE html>
<html>

<head>
  <title>Liga del Agua</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>

<body>

    <%= yield %>

    <!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <!-- Efecto Inicio -->
    <script src="/assets/js/agua.js"></script>
    <!-- Nodos -->
    <script src='/assets/js/vis.min.js'></script>
    <script src='/assets/js/materialize.min.js'></script>
    <script src="/assets/js/nodos.js"></script>
    <!--Kl Animate-->
    <script src="/assets/js/plugins/greensock.js"></script>
    <script src="/assets/js/plugins/kl-animate.min.js"></script>
    <script>
      $.klAnimate();
    </script>
    <!-- Página Main -->

    <script src="/assets/js/main.js"></script>

</body>

</html>
